<html>
  <head>
    <title>Upload Excel File</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body class="container pt-5">
    <form
      action="/upload"
      method="post"
      enctype="multipart/form-data"
      class="form-group"
    >
      <input type="file" name="file" class="form-control-file" />
      <button type="submit" class="btn btn-primary mt-2">Upload Excel File</button>
    </form>
  </body>
</html>